^contentpage {
    background-color: white;
}

stacklayout {
    margin: 0;
    padding: 0;
}

.detailPageTitle {
    font-style: bold;
    font-size: medium;
    text-align: center;
}

listview image {
    height: 60;
    width: 60;
}

#stacklayout > image {
    height: 200;
    width: 200;
}

.Label {
    color: rebeccapurple;
}

.Footer {
    background-color: aqua;
}

.MainButton {
    background-color: red;
}
